## Data Wrangling Home Prices by Zipcode
from Zillow public data

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#change directory to get data
path= '/Users/josephfrasca/Coding_Stuff/Springboard/Capstone_2/data/raw'
os.chdir(path)

In [3]:
#load rental data
df_rents = pd.read_csv('Zip_ZORI_AllHomesPlusMultifamily_SSA.csv')

In [5]:
df_rents.head()

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09
0,61639,10025,1,"New York, NY",2971.0,2984.0,2997.0,3010.0,3023.0,3036.0,...,3250.0,3237.0,3216.0,3194.0,3172.0,3149.0,3125.0,3102.0,3076.0,3049.0
1,84654,60657,2,"Chicago, IL",1561.0,1567.0,1572.0,1577.0,1582.0,1587.0,...,1804.0,1803.0,1801.0,1798.0,1795.0,1792.0,1789.0,1786.0,1782.0,1778.0
2,61637,10023,3,"New York, NY",3145.0,3154.0,3162.0,3170.0,3177.0,3184.0,...,3359.0,3348.0,3329.0,3310.0,3291.0,3270.0,3249.0,3228.0,3205.0,3182.0
3,91982,77494,4,"Houston, TX",1790.0,1793.0,1797.0,1800.0,1803.0,1806.0,...,1803.0,1804.0,1806.0,1808.0,1809.0,1811.0,1813.0,1814.0,1816.0,1818.0
4,84616,60614,5,"Chicago, IL",1760.0,1765.0,1770.0,1775.0,1780.0,1785.0,...,2046.0,2046.0,2043.0,2041.0,2039.0,2036.0,2033.0,2031.0,2027.0,2023.0

### Data Definition

### Data Cleaning

### Data Joining

### Save Data

### Notes

### Summary