## Data Collection
Goal: Organize your data to streamline the next steps of your
capstone

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#change directory to get data
path= '/Users/josephfrasca/Coding_Stuff/Springboard/Capstone_2/data/raw/VacanyRateData-ByZipcode'
os.chdir(path)

In [3]:
os.listdir()

['ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_table_title_2020-08-24T093201.txt']

### Data Loading

In [4]:
# load rental vacany data - 2011-2018
df_2011 = pd.read_csv('ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2012 = pd.read_csv('ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2013 = pd.read_csv('ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2014 = pd.read_csv('ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2015 = pd.read_csv('ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2016 = pd.read_csv('ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2017 = pd.read_csv('ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2018 = pd.read_csv('ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv')

df_2011col = pd.read_csv('ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv')

In [5]:
df_2011.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84

In [6]:
df_2018.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US43964,ZCTA5 43964,4155,189,3811,175,344,105
2,8600000US28216,ZCTA5 28216,21688,346,19911,449,1777,347
3,8600000US28277,ZCTA5 28277,27830,303,26695,385,1135,295
4,8600000US28278,ZCTA5 28278,9720,279,9176,272,544,164

In [7]:
header_row = 0
df_2011.columns = df_2011.iloc[0]
df_2011 = df_2011.drop(0)
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84
5,8600000US02343,ZCTA5 02343,4313,200,4152,203,161,126

#### Data Definition (Vacancy Data)

In [8]:
df_2011.count()

0
id                                  33120
Geographic Area Name                33120
Estimate!!Total                     33120
Margin of Error!!Total              33120
Estimate!!Total!!Occupied           33120
Margin of Error!!Total!!Occupied    33120
Estimate!!Total!!Vacant             33120
Margin of Error!!Total!!Vacant      33120
dtype: int64

In [9]:
#checked all dataframes for null values, none found
df_2011.isnull().sum()

0
id                                  0
Geographic Area Name                0
Estimate!!Total                     0
Margin of Error!!Total              0
Estimate!!Total!!Occupied           0
Margin of Error!!Total!!Occupied    0
Estimate!!Total!!Vacant             0
Margin of Error!!Total!!Vacant      0
dtype: int64

In [10]:
#check dtypes, need to convert columns to integer/float
df_2011.dtypes

0
id                                  object
Geographic Area Name                object
Estimate!!Total                     object
Margin of Error!!Total              object
Estimate!!Total!!Occupied           object
Margin of Error!!Total!!Occupied    object
Estimate!!Total!!Vacant             object
Margin of Error!!Total!!Vacant      object
dtype: object

### Data Cleaning

In [11]:
#convert dtype object to float
df_2011[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']] = df_2011[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']].astype('float')
df_2011.dtypes

0
id                                   object
Geographic Area Name                 object
Estimate!!Total                     float64
Margin of Error!!Total              float64
Estimate!!Total!!Occupied           float64
Margin of Error!!Total!!Occupied    float64
Estimate!!Total!!Vacant             float64
Margin of Error!!Total!!Vacant      float64
dtype: object

In [12]:
#calculate vacany rate, adding new column
df_2011['Vacancy_Rate%'] = df_2011['Estimate!!Total!!Vacant']/df_2011['Estimate!!Total']*100
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%
1,8600000US02333,ZCTA5 02333,4828.0,222.0,4682.0,203.0,146.0,106.0,3.024027
2,8600000US02338,ZCTA5 02338,2888.0,168.0,2798.0,165.0,90.0,85.0,3.116343
3,8600000US02339,ZCTA5 02339,4950.0,172.0,4729.0,181.0,221.0,102.0,4.464646
4,8600000US02341,ZCTA5 02341,3597.0,160.0,3468.0,147.0,129.0,84.0,3.586322
5,8600000US02343,ZCTA5 02343,4313.0,200.0,4152.0,203.0,161.0,126.0,3.732901

In [13]:
#calculate margin of error of vacancy rate (using error propogation formula <https://www.statisticshowto.com/error-propogation/>)
df_2011['MOE-VacancyRate%'] = np.sqrt((df_2011['Margin of Error!!Total!!Vacant']/df_2011['Estimate!!Total!!Vacant'])**2 + (df_2011['Margin of Error!!Total']/df_2011['Estimate!!Total'])**2) * (df_2011['Estimate!!Total!!Vacant']/df_2011['Estimate!!Total'])*100
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
1,8600000US02333,ZCTA5 02333,4828.0,222.0,4682.0,203.0,146.0,106.0,3.024027,2.199925
2,8600000US02338,ZCTA5 02338,2888.0,168.0,2798.0,165.0,90.0,85.0,3.116343,2.948791
3,8600000US02339,ZCTA5 02339,4950.0,172.0,4729.0,181.0,221.0,102.0,4.464646,2.066438
4,8600000US02341,ZCTA5 02341,3597.0,160.0,3468.0,147.0,129.0,84.0,3.586322,2.340722
5,8600000US02343,ZCTA5 02343,4313.0,200.0,4152.0,203.0,161.0,126.0,3.732901,2.926524

In [14]:
#check for NaN, explore those found in Vacany_Rate
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                33120 non-null  object
 1   Geographic Area Name              33120 non-null  object
 2   Estimate!!Total                   33120 non-null  float64
 3   Margin of Error!!Total            33120 non-null  float64
 4   Estimate!!Total!!Occupied         33120 non-null  float64
 5   Margin of Error!!Total!!Occupied  33120 non-null  float64
 6   Estimate!!Total!!Vacant           33120 non-null  float64
 7   Margin of Error!!Total!!Vacant    33120 non-null  float64
 8   Vacancy_Rate%                     32603 non-null  float64
 9   MOE-VacancyRate%                  31056 non-null  float64
dtypes: float64(8), object(2)
memory usage: 2.8+ MB

In [15]:
df_2011.describe()

,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
count,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,32603.000000,31056.000000
mean,4001.329529,168.286504,3502.078110,170.257277,499.251419,126.050996,17.477741,9.733001
std,5568.470528,122.703284,5001.960803,133.974663,839.510124,103.143444,16.175618,15.641731
min,0.000000,3.000000,0.000000,3.000000,0.000000,2.000000,0.000000,0.347684
25%,363.000000,71.000000,274.000000,65.000000,53.000000,48.000000,7.070444,2.931230
50%,1308.000000,134.000000,1056.000000,125.000000,191.000000,92.000000,12.611526,5.494104
75%,5598.500000,242.000000,4843.000000,253.000000,611.000000,181.000000,22.119510,10.542398
max,47418.000000,1530.000000,43174.000000,1542.000000,27236.000000,817.000000,100.000000,265.165043

In [16]:
#Vacancy_Rate NaN due to Estimate!!Total == 0
df_2011[df_2011['Vacancy_Rate%'].isna()]

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
72,8600000US02584,ZCTA5 02584,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
92,8600000US02651,ZCTA5 02651,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
271,8600000US00936,ZCTA5 00936,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
273,8600000US00950,ZCTA5 00950,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32891,8600000US99510,ZCTA5 99510,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN

In [17]:
df_2011[df_2011['Estimate!!Total']==0]

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
72,8600000US02584,ZCTA5 02584,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
92,8600000US02651,ZCTA5 02651,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
271,8600000US00936,ZCTA5 00936,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
273,8600000US00950,ZCTA5 00950,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32891,8600000US99510,ZCTA5 99510,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN

In [18]:
#Vacancy_Rate NaN due to Estimate!!Total!!Vacant == 0
df_2011[df_2011['MOE-VacancyRate%'].isna()]

#see NOTES at bottom for how I might handle this, besides naive NaN == 0

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
10,8600000US02357,ZCTA5 02357,13.0,20.0,13.0,20.0,0.0,95.0,0.0,NaN
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
28,8600000US02457,ZCTA5 02457,11.0,16.0,11.0,16.0,0.0,95.0,0.0,NaN
33,8600000US02462,ZCTA5 02462,627.0,89.0,627.0,89.0,0.0,95.0,0.0,NaN
38,8600000US02468,ZCTA5 02468,1747.0,126.0,1747.0,126.0,0.0,95.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33079,8600000US99773,ZCTA5 99773,77.0,22.0,77.0,22.0,0.0,78.0,0.0,NaN

In [19]:
#noted there are some MOE Vacancy Rates are larger than Vacancy Rates, which doesn't make practical sense
df_2011[df_2011['MOE-VacancyRate%'] > df_2011['Vacancy_Rate%']].head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
32,8600000US02461,ZCTA5 02461,2695.0,183.0,2636.0,171.0,59.0,68.0,2.189239,2.527566
34,8600000US02464,ZCTA5 02464,1197.0,133.0,1169.0,127.0,28.0,32.0,2.339181,2.685955
46,8600000US02493,ZCTA5 02493,3609.0,207.0,3557.0,203.0,52.0,69.0,1.440842,1.913672
58,8600000US02553,ZCTA5 02553,199.0,135.0,140.0,120.0,59.0,67.0,29.648241,39.218556
64,8600000US02561,ZCTA5 02561,210.0,92.0,182.0,83.0,28.0,39.0,13.333333,19.468395

In [20]:
#dealt with this occurence by setting MOE-VacancyRate = Vacancy_Rate in these instances
df_2011.loc[df_2011['MOE-VacancyRate%'] > df_2011['Vacancy_Rate%'], 'MOE-VacancyRate%'] = df_2011['Vacancy_Rate%']

In [21]:
#drop all rows besides Vacancy_Rate and MOE-VacancyRate
df_2011 = df_2011.drop(['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant'], axis=1)

In [22]:
df_2011 = df_2011.fillna(0)
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    33120 non-null  object
 1   Geographic Area Name  33120 non-null  object
 2   Vacancy_Rate%         33120 non-null  float64
 3   MOE-VacancyRate%      33120 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.5+ MB

In [23]:
df_2011.describe()

0      Vacancy_Rate%  MOE-VacancyRate%
count   33120.000000      33120.000000
mean       17.204915          8.184193
std        16.194451         10.493581
min         0.000000          0.000000
25%         6.849315          2.547151
50%        12.413793          4.983146
75%        21.913252          9.639254
max       100.000000        100.000000

In [24]:
df_2011['MOE-VacancyRate%'].value_counts(normalize=True)*100

0.000000      6.231884
100.000000    0.241546
20.000000     0.051329
14.285714     0.048309
16.666667     0.042271
                ...
2.148385      0.003019
1.831697      0.003019
3.748111      0.003019
10.805381     0.003019
16.260163     0.003019
Name: MOE-VacancyRate%, Length: 30053, dtype: float64

In [25]:
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    33120 non-null  object
 1   Geographic Area Name  33120 non-null  object
 2   Vacancy_Rate%         33120 non-null  float64
 3   MOE-VacancyRate%      33120 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.5+ MB

In [26]:
#do cleaning on all the remaining data frames
DFs = [df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018]

for DF in DFs:  
    DF.columns = DF.iloc[0]
    DF.drop(0, inplace=True)
    DF[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']] = DF[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']].astype('float')

In [38]:
for DF in DFs:
    DF['Vacancy_Rate%'] = DF['Estimate!!Total!!Vacant']/DF['Estimate!!Total']*100
    DF['MOE-VacancyRate%'] = np.sqrt((DF['Margin of Error!!Total!!Vacant']/DF['Estimate!!Total!!Vacant'])**2 + (DF['Margin of Error!!Total']/DF['Estimate!!Total'])**2) * (DF['Estimate!!Total!!Vacant']/DF['Estimate!!Total'])*100
    DF.loc[DF['MOE-VacancyRate%'] > DF['Vacancy_Rate%'], 'MOE-VacancyRate%'] = DF['Vacancy_Rate%']
    DF.drop(['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant'], axis=1, inplace=True)

In [41]:
for DF in DFs:
    DF.fillna(0, inplace=True)

In [66]:
#give each dataframe a column for year
df_2011['Year'] = 2011
df_2012['Year'] = 2012
df_2013['Year'] = 2013
df_2014['Year'] = 2014
df_2015['Year'] = 2015
df_2016['Year'] = 2016
df_2017['Year'] = 2017
df_2018['Year'] = 2018

In [68]:
df_2013.head()

0              id Geographic Area Name  Vacancy_Rate%  MOE-VacancyRate%  Year
1  8600000US01236          ZCTA5 01236      22.399021         14.001920  2013
2  8600000US01237          ZCTA5 01237      29.441997          7.128834  2013
3  8600000US01238          ZCTA5 01238      20.738975          6.066087  2013
4  8600000US01240          ZCTA5 01240      23.931624          6.349708  2013
5  8600000US01242          ZCTA5 01242      42.028986         42.028986  2013

### Data Joining

In [ ]:
#decide to merge vs. concat???

In [ ]:
#(WAIT ON THIS TO USE merge with table with metro area and state by zipcode 
#   - <https://docs.google.com/spreadsheets/d/1cooq5X9NeiYwqcuXtKvDjWcBqzNVl1dqGuK2G732LV0/edit#gid=1531339003>

In [75]:
dfmerge_2011_2012 = df_2011.merge(df_2012, on=['Geographic Area Name', 'id'], suffixes=('_2011', '_2012'))
dfmerge_2011_2012.head()

,id,Geographic Area Name,Vacancy_Rate%_2011,MOE-VacancyRate%_2011,Year_2011,Vacancy_Rate%_2012,MOE-VacancyRate%_2012,Year_2012
0,8600000US02333,ZCTA5 02333,3.024027,2.199925,2011,2.688728,2.196508,2012
1,8600000US02338,ZCTA5 02338,3.116343,2.948791,2011,4.415234,3.717005,2012
2,8600000US02339,ZCTA5 02339,4.464646,2.066438,2011,3.721217,2.572851,2012
3,8600000US02341,ZCTA5 02341,3.586322,2.340722,2011,2.309942,1.932107,2012
4,8600000US02343,ZCTA5 02343,3.732901,2.926524,2011,3.428701,2.754835,2012

In [77]:
dfConcat_2011_2012 = pd.concat([df_2011, df_2012])
dfConcat_2011_2012

,id,Geographic Area Name,Vacancy_Rate%,MOE-VacancyRate%,Year
1,8600000US02333,ZCTA5 02333,3.024027,2.199925,2011
2,8600000US02338,ZCTA5 02338,3.116343,2.948791,2011
3,8600000US02339,ZCTA5 02339,4.464646,2.066438,2011
4,8600000US02341,ZCTA5 02341,3.586322,2.340722,2011
5,8600000US02343,ZCTA5 02343,3.732901,2.926524,2011
...,...,...,...,...,...
33116,8600000US99923,ZCTA5 99923,47.872340,30.696178,2012
33117,8600000US99925,ZCTA5 99925,10.174419,5.125723,2012
33118,8600000US99926,ZCTA5 99926,9.031199,3.520979,2012
33119,8600000US99927,ZCTA5 99927,53.211009,37.880642,2012
33120,8600000US99929,ZCTA5 99929,17.462580,4.879322,2012

### Save Data

### NOTES

In [ ]:
#see below for a more complex way to deal with NaNs

In [ ]:
'''
#handling MOE_VacanyRate = NaN
    #also could possiby use HARMONIC MEAN HERE?
nulls = df_2011[df_2011['Estimate!!Total!!Vacant']==0]
nulls'''

In [ ]:
'''#get average vacany rate by averaging the range
Total_Vacant = nulls['Estimate!!Total!!Vacant']
MOE_Vacant = nulls['Margin of Error!!Total!!Vacant']
Total = nulls['Estimate!!Total']
MOE_Total = nulls['Margin of Error!!Total']


Max_VacancyRate = (Total_Vacant - MOE_Vacant ) / (Total+MOE_Total)
Min_VacancyRate = (Total_Vacant + MOE_Vacant ) / (Total - MOE_Total)
Avg_VacancyRate = (Max_VacancyRate - Min_VacancyRate) / 2
Avg_VacancyRate'''

In [ ]:
'''# creating DataFrame from these range of rates calculations
frame = {'Total_Vacant': Total_Vacant, 'MOE_Vacant': MOE_Vacant, 'Total': Total, 'MOE_Total': MOE_Total, 'Max_VacancyRate': Max_VacancyRate, 'Min_VacancyRate': Min_VacancyRate, 'Avg_VacancyRate': Avg_VacancyRate}
  
# creating the dataframe 
df_nulls = pd.DataFrame(frame) 
  
# displaying the dataframe 
df_nulls'''

In [ ]:
'''#calculate percentage of values that are negative
(len(df_nulls) - len(df_nulls[df_nulls['Avg_VacancyRate'] < 0]))/len(df_nulls)'''

#### SUMMARY

#### Questions to Discuss with Mentor
- dealing with NaN in Vacany_Rate and Vacany_Rate MOE?
    - this comrpises ~6% of data
    - inputting all zeros?
    - see NOTES above/see email to Josh Levy dated 10/15