## Data Collection
Goal: Organize your data to streamline the next steps of your
capstone

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#change directory to get data
path= '/Users/josephfrasca/Coding_Stuff/Springboard/Capstone_2/data/raw/VacanyRateData-ByZipcode'
os.chdir(path)

In [3]:
os.listdir()

['ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_table_title_2020-08-24T093201.txt']

### Data Loading

In [4]:
# load rental vacany data - 2011-2018
df_2011 = pd.read_csv('ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2012 = pd.read_csv('ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2013 = pd.read_csv('ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2014 = pd.read_csv('ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2015 = pd.read_csv('ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2016 = pd.read_csv('ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2017 = pd.read_csv('ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2018 = pd.read_csv('ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv')

df_2011col = pd.read_csv('ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv')

In [5]:
df_2011.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84

In [6]:
df_2018.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US43964,ZCTA5 43964,4155,189,3811,175,344,105
2,8600000US28216,ZCTA5 28216,21688,346,19911,449,1777,347
3,8600000US28277,ZCTA5 28277,27830,303,26695,385,1135,295
4,8600000US28278,ZCTA5 28278,9720,279,9176,272,544,164

In [7]:
header_row = 0
df_2011.columns = df_2011.iloc[0]
df_2011 = df_2011.drop(0)
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84
5,8600000US02343,ZCTA5 02343,4313,200,4152,203,161,126

In [8]:
df_2011.count()

0
id                                  33120
Geographic Area Name                33120
Estimate!!Total                     33120
Margin of Error!!Total              33120
Estimate!!Total!!Occupied           33120
Margin of Error!!Total!!Occupied    33120
Estimate!!Total!!Vacant             33120
Margin of Error!!Total!!Vacant      33120
dtype: int64

In [9]:
#checked all dataframes for null values, none found
df_2011.isnull().sum()

0
id                                  0
Geographic Area Name                0
Estimate!!Total                     0
Margin of Error!!Total              0
Estimate!!Total!!Occupied           0
Margin of Error!!Total!!Occupied    0
Estimate!!Total!!Vacant             0
Margin of Error!!Total!!Vacant      0
dtype: int64

In [10]:
#check dtypes, need to convert columns to integer/float
df_2011.dtypes

0
id                                  object
Geographic Area Name                object
Estimate!!Total                     object
Margin of Error!!Total              object
Estimate!!Total!!Occupied           object
Margin of Error!!Total!!Occupied    object
Estimate!!Total!!Vacant             object
Margin of Error!!Total!!Vacant      object
dtype: object

In [11]:
#convert dtype object to float
df_2011[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']] = df_2011[['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant']].astype('float')
df_2011.dtypes

0
id                                   object
Geographic Area Name                 object
Estimate!!Total                     float64
Margin of Error!!Total              float64
Estimate!!Total!!Occupied           float64
Margin of Error!!Total!!Occupied    float64
Estimate!!Total!!Vacant             float64
Margin of Error!!Total!!Vacant      float64
dtype: object

In [12]:
#maybe move to EDA!!!
#calculate vacany rate, adding new column
df_2011['Vacancy_Rate%'] = df_2011['Estimate!!Total!!Vacant']/df_2011['Estimate!!Total']*100
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%
1,8600000US02333,ZCTA5 02333,4828.0,222.0,4682.0,203.0,146.0,106.0,3.024027
2,8600000US02338,ZCTA5 02338,2888.0,168.0,2798.0,165.0,90.0,85.0,3.116343
3,8600000US02339,ZCTA5 02339,4950.0,172.0,4729.0,181.0,221.0,102.0,4.464646
4,8600000US02341,ZCTA5 02341,3597.0,160.0,3468.0,147.0,129.0,84.0,3.586322
5,8600000US02343,ZCTA5 02343,4313.0,200.0,4152.0,203.0,161.0,126.0,3.732901

In [45]:
#calculate margin of error of vacany rate (using error propogation formula <https://www.statisticshowto.com/error-propogation/>)
df_2011['MOE-VacancyRate%'] = np.sqrt((df_2011['Margin of Error!!Total!!Vacant']/df_2011['Estimate!!Total!!Vacant'])**2 + (df_2011['Margin of Error!!Total']/df_2011['Estimate!!Total'])**2) * (df_2011['Estimate!!Total!!Vacant']/df_2011['Estimate!!Total'])*100
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
1,8600000US02333,ZCTA5 02333,4828.0,222.0,4682.0,203.0,146.0,106.0,3.024027,2.199925
2,8600000US02338,ZCTA5 02338,2888.0,168.0,2798.0,165.0,90.0,85.0,3.116343,2.948791
3,8600000US02339,ZCTA5 02339,4950.0,172.0,4729.0,181.0,221.0,102.0,4.464646,2.066438
4,8600000US02341,ZCTA5 02341,3597.0,160.0,3468.0,147.0,129.0,84.0,3.586322,2.340722
5,8600000US02343,ZCTA5 02343,4313.0,200.0,4152.0,203.0,161.0,126.0,3.732901,2.926524

In [22]:
#check for NaN, explore those found in Vacany_Rate
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                33120 non-null  object
 1   Geographic Area Name              33120 non-null  object
 2   Estimate!!Total                   33120 non-null  float64
 3   Margin of Error!!Total            33120 non-null  float64
 4   Estimate!!Total!!Occupied         33120 non-null  float64
 5   Margin of Error!!Total!!Occupied  33120 non-null  float64
 6   Estimate!!Total!!Vacant           33120 non-null  float64
 7   Margin of Error!!Total!!Vacant    33120 non-null  float64
 8   Vacancy_Rate%                     32603 non-null  float64
 9   MOE-VacancyRate%                  31056 non-null  float64
dtypes: float64(8), object(2)
memory usage: 2.8+ MB

In [40]:
#Vacancy_Rate NaN due to Estimate!!Total == 0
df_2011[df_2011['Vacancy_Rate%'].isna()]

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
72,8600000US02584,ZCTA5 02584,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
92,8600000US02651,ZCTA5 02651,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
271,8600000US00936,ZCTA5 00936,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
273,8600000US00950,ZCTA5 00950,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32891,8600000US99510,ZCTA5 99510,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN

In [36]:
df_2011[df_2011['Estimate!!Total']==0]

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
72,8600000US02584,ZCTA5 02584,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
92,8600000US02651,ZCTA5 02651,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
271,8600000US00936,ZCTA5 00936,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
273,8600000US00950,ZCTA5 00950,0.0,92.0,0.0,92.0,0.0,92.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32891,8600000US99510,ZCTA5 99510,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN

In [41]:
#Vacancy_Rate NaN due to Estimate!!Total!!Vacant == 0
df_2011[df_2011['MOE-VacancyRate%'].isna()]

#see NOTES at bottom for how I might handle this, besides naive NaN == 0

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
10,8600000US02357,ZCTA5 02357,13.0,20.0,13.0,20.0,0.0,95.0,0.0,NaN
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
28,8600000US02457,ZCTA5 02457,11.0,16.0,11.0,16.0,0.0,95.0,0.0,NaN
33,8600000US02462,ZCTA5 02462,627.0,89.0,627.0,89.0,0.0,95.0,0.0,NaN
38,8600000US02468,ZCTA5 02468,1747.0,126.0,1747.0,126.0,0.0,95.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33079,8600000US99773,ZCTA5 99773,77.0,22.0,77.0,22.0,0.0,78.0,0.0,NaN

In [110]:
#drop all rows besides Vacancy_Rate and MOE-VacancyRate
df_2011 = df_2011.drop(['Estimate!!Total', 'Margin of Error!!Total', 'Estimate!!Total!!Occupied', 'Margin of Error!!Total!!Occupied', 'Estimate!!Total!!Vacant', 'Margin of Error!!Total!!Vacant'], axis=1)

In [118]:
df_2011 = df_2011.fillna(0)
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    33120 non-null  object
 1   Geographic Area Name  33120 non-null  object
 2   Vacancy_Rate%         33120 non-null  float64
 3   MOE-VacancyRate%      33120 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.3+ MB

In [43]:
#finalize how to handle NaN
#merge all years together (consider looping the cleaning process and/or method chaining)
#merge with table with metro area and state by zipcode 
#   - <https://docs.google.com/spreadsheets/d/1cooq5X9NeiYwqcuXtKvDjWcBqzNVl1dqGuK2G732LV0/edit#gid=1531339003>
#consider moving adding Vacancy rate and Margin of Error to EDA feature engineering

### NOTES

In [80]:
#handling MOE_VacanyRate = NaN
nulls = df_2011[df_2011['Estimate!!Total!!Vacant']==0]
nulls

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant,Vacancy_Rate%,MOE-VacancyRate%
10,8600000US02357,ZCTA5 02357,13.0,20.0,13.0,20.0,0.0,95.0,0.0,NaN
14,8600000US02366,ZCTA5 02366,0.0,95.0,0.0,95.0,0.0,95.0,NaN,NaN
28,8600000US02457,ZCTA5 02457,11.0,16.0,11.0,16.0,0.0,95.0,0.0,NaN
33,8600000US02462,ZCTA5 02462,627.0,89.0,627.0,89.0,0.0,95.0,0.0,NaN
38,8600000US02468,ZCTA5 02468,1747.0,126.0,1747.0,126.0,0.0,95.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32892,8600000US99513,ZCTA5 99513,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
32897,8600000US99519,ZCTA5 99519,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33024,8600000US99704,ZCTA5 99704,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33041,8600000US99734,ZCTA5 99734,0.0,78.0,0.0,78.0,0.0,78.0,NaN,NaN
33079,8600000US99773,ZCTA5 99773,77.0,22.0,77.0,22.0,0.0,78.0,0.0,NaN

In [96]:
#get average vacany rate by averaging the range
Total_Vacant = nulls['Estimate!!Total!!Vacant']
MOE_Vacant = nulls['Margin of Error!!Total!!Vacant']
Total = nulls['Estimate!!Total']
MOE_Total = nulls['Margin of Error!!Total']


Max_VacancyRate = (Total_Vacant - MOE_Vacant ) / (Total+MOE_Total)
Min_VacancyRate = (Total_Vacant + MOE_Vacant ) / (Total - MOE_Total)
Avg_VacancyRate = (Max_VacancyRate - Min_VacancyRate) / 2
Avg_VacancyRate

10       5.346320
14       0.000000
28       7.740741
33      -0.154631
38      -0.054663
           ...
32892    0.000000
32897    0.000000
33024    0.000000
33041    0.000000
33079   -1.103030
Length: 2064, dtype: float64

In [97]:
# creating DataFrame from these range of rates calculations
frame = {'Total_Vacant': Total_Vacant, 'MOE_Vacant': MOE_Vacant, 'Total': Total, 'MOE_Total': MOE_Total, 'Max_VacancyRate': Max_VacancyRate, 'Min_VacancyRate': Min_VacancyRate, 'Avg_VacancyRate': Avg_VacancyRate}
  
# creating the dataframe 
df_nulls = pd.DataFrame(frame) 
  
# displaying the dataframe 
df_nulls

,Total_Vacant,MOE_Vacant,Total,MOE_Total,Max_VacancyRate,Min_VacancyRate,Avg_VacancyRate
10,0.0,95.0,13.0,20.0,-2.878788,-13.571429,5.346320
14,0.0,95.0,0.0,95.0,-1.000000,-1.000000,0.000000
28,0.0,95.0,11.0,16.0,-3.518519,-19.000000,7.740741
33,0.0,95.0,627.0,89.0,-0.132682,0.176580,-0.154631
38,0.0,95.0,1747.0,126.0,-0.050721,0.058606,-0.054663
...,...,...,...,...,...,...,...
32892,0.0,78.0,0.0,78.0,-1.000000,-1.000000,0.000000
32897,0.0,78.0,0.0,78.0,-1.000000,-1.000000,0.000000
33024,0.0,78.0,0.0,78.0,-1.000000,-1.000000,0.000000
33041,0.0,78.0,0.0,78.0,-1.000000,-1.000000,0.000000
33079,0.0,78.0,77.0,22.0,-0.787879,1.418182,-1.103030

In [109]:
#calculate percentage of values that are negative
(len(df_nulls) - len(df_nulls[df_nulls['Avg_VacancyRate'] < 0]))/len(df_nulls)

0.39825581395348836

#### SUMMARY

#### Questions to Discuss with Mentor
- dealing with NaN in Vacany_Rate and Vacany_Rate MOE?
    - this comrpises ~6% of data
    - inputting all zeros?
    - see NOTES above/see email to Josh Levy dated 10/15