## Data Collection
Goal: Organize your data to streamline the next steps of your
capstone

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#change directory to get data
path= '/Users/josephfrasca/Coding_Stuff/Springboard/Capstone_2/data/raw/VacanyRateData-ByZipcode'
os.chdir(path)

In [3]:
os.listdir()

['ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2011.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2012.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2013.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2014.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2015.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2016.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2017.B25002_table_title_2020-08-24T093201.txt',
 'ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_metadata_2020-08-24T093201.csv',
 'ACSDT5Y2018.B25002_table_title_2020-08-24T093201.txt']

### Data Loading

In [4]:
# load rental vacany data - 2011-2018
df_2011 = pd.read_csv('ACSDT5Y2011.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2012 = pd.read_csv('ACSDT5Y2012.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2013 = pd.read_csv('ACSDT5Y2013.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2014 = pd.read_csv('ACSDT5Y2014.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2015 = pd.read_csv('ACSDT5Y2015.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2016 = pd.read_csv('ACSDT5Y2016.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2017 = pd.read_csv('ACSDT5Y2017.B25002_data_with_overlays_2020-08-24T093201.csv')
df_2018 = pd.read_csv('ACSDT5Y2018.B25002_data_with_overlays_2020-08-24T093201.csv')

df_2011col = pd.read_csv('ACSDT5Y2011.B25002_metadata_2020-08-24T093201.csv')

In [5]:
df_2011.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84

In [6]:
df_2018.head()

,GEO_ID,NAME,B25002_001E,B25002_001M,B25002_002E,B25002_002M,B25002_003E,B25002_003M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US43964,ZCTA5 43964,4155,189,3811,175,344,105
2,8600000US28216,ZCTA5 28216,21688,346,19911,449,1777,347
3,8600000US28277,ZCTA5 28277,27830,303,26695,385,1135,295
4,8600000US28278,ZCTA5 28278,9720,279,9176,272,544,164

In [16]:
header_row = 0
df_2011.columns = df_2011.iloc[0]
df_2011 = df_2011.drop(0)
df_2011.head()

,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Occupied,Margin of Error!!Total!!Occupied,Estimate!!Total!!Vacant,Margin of Error!!Total!!Vacant
1,8600000US02333,ZCTA5 02333,4828,222,4682,203,146,106
2,8600000US02338,ZCTA5 02338,2888,168,2798,165,90,85
3,8600000US02339,ZCTA5 02339,4950,172,4729,181,221,102
4,8600000US02341,ZCTA5 02341,3597,160,3468,147,129,84
5,8600000US02343,ZCTA5 02343,4313,200,4152,203,161,126

In [20]:
df_2011.count()

0
id                                  33120
Geographic Area Name                33120
Estimate!!Total                     33120
Margin of Error!!Total              33120
Estimate!!Total!!Occupied           33120
Margin of Error!!Total!!Occupied    33120
Estimate!!Total!!Vacant             33120
Margin of Error!!Total!!Vacant      33120
dtype: int64

In [9]:
#checked all dataframes for null values, none found
df_2011.isnull().sum()

0
id                                  0
Geographic Area Name                0
Estimate!!Total                     0
Margin of Error!!Total              0
Estimate!!Total!!Occupied           0
Margin of Error!!Total!!Occupied    0
Estimate!!Total!!Vacant             0
Margin of Error!!Total!!Vacant      0
dtype: int64

In [10]:
#check dtypes, need to convert columns to integer/float
df_2011.dtypes

0
id                                  object
Geographic Area Name                object
Estimate!!Total                     object
Margin of Error!!Total              object
Estimate!!Total!!Occupied           object
Margin of Error!!Total!!Occupied    object
Estimate!!Total!!Vacant             object
Margin of Error!!Total!!Vacant      object
dtype: object

In [11]:
#clean and wrangle (ie. column names, NaN, etc.)
#figure out what to do with estimate margin of errors
#calcuate vacancy rate (=vacant/total)
#merge all years together
#merge with table with metro area and state by zipcode 
#   - <https://docs.google.com/spreadsheets/d/1cooq5X9NeiYwqcuXtKvDjWcBqzNVl1dqGuK2G732LV0/edit#gid=1531339003>