## Data Wrangling - Zipcode Aggregation of All Datas
from FRED public data and Zillow public data

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
#change directory to get data
path= '/Users/josephfrasca/Coding_Stuff/Springboard/Capstone_2/data/interim'
os.chdir(path)

In [3]:
os.listdir()

['.gitkeep',
 '.ipynb_checkpoints',
 'Annual_fredData_2011_2019',
 'df3_1956',
 'df_homePrices_2011_2018',
 'df_homePrices_2011_2020',
 'df_homePrices_2011_2020.csv',
 'df_rentPrices_2014_2020',
 'VacancyRate_Zipcode_2011_2018',
 'VacancyRate_Zipcode_2011_2018.csv']

In [4]:
#load rental data
df_fred = pd.read_csv('Annual_fredData_2011_2019')
df_homes = pd.read_csv("df_homePrices_2011_2020.csv", dtype={'RegionID': object, 'RegionName': object})
df_rents = pd.read_csv('df_rentPrices_2014_2020', dtype={'RegionID': object, 'RegionName': object})
df_vacancy = pd.read_csv('VacancyRate_Zipcode_2011_2018.csv', dtype={'Zipcode': object})

### Data Definition

In [5]:
df_vacancy.dtypes

Zipcode              object
Vacancy_Rate%       float64
MOE-VacancyRate%    float64
Year                  int64
dtype: object

In [6]:
df_homes

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,2011_HomePrice,2012_HomePrice,2013_HomePrice,2014_HomePrice,2015_HomePrice,2016_HomePrice,2017_HomePrice,2018_HomePrice,2019_HomePrice,2020_HomePrice
0,61639,0,10025,NY,New York,New York-Newark-Jersey City,New York County,784477.42,796668.08,852057.75,968761.75,1043249.17,1104092.00,1068894.17,1067987.75,1072056.17,951924.67
1,84654,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,400695.83,386842.08,419887.00,450755.75,460112.25,476192.50,489051.83,496389.25,490717.08,490915.22
2,61637,2,10023,NY,New York,New York-Newark-Jersey City,New York County,821072.58,851684.92,909539.83,1024543.17,1091081.25,1147718.17,1141401.92,1132154.25,1053399.33,1091064.33
3,91982,3,77494,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,265425.17,270190.08,289289.08,322032.00,342156.33,339390.83,336825.92,340372.58,341633.50,343916.44
4,84616,4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,507804.42,494154.92,539292.33,580250.92,601594.75,623574.33,638849.08,646735.33,639591.75,634424.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30362,76721,34430,43523,OH,Malinta,NaN,Henry County,64307.25,64006.83,65736.58,67959.33,67401.92,71812.00,76977.00,81699.58,83879.67,84331.11
30363,60758,34430,7703,NJ,Eatontown,New York-Newark-Jersey City,Monmouth County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,543333.30,545483.92,579932.56
30364,78801,34430,47865,IN,Carlisle,Terre Haute,Sullivan County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40215.62,41754.92,42896.56
30365,58117,35187,822,LA,Choudrant,Ruston,Lincoln Parish,NaN,NaN,129781.58,140783.33,150695.33,161501.25,163619.08,178884.17,191554.75,195888.67
30366,58115,35187,820,LA,Choudrant,Ruston,Lincoln Parish,NaN,NaN,241298.08,231314.67,223951.58,219997.33,223642.17,224375.33,238768.00,242009.56

In [7]:
df_homes.dtypes

RegionID           object
SizeRank            int64
RegionName         object
State              object
City               object
Metro              object
CountyName         object
2011_HomePrice    float64
2012_HomePrice    float64
2013_HomePrice    float64
2014_HomePrice    float64
2015_HomePrice    float64
2016_HomePrice    float64
2017_HomePrice    float64
2018_HomePrice    float64
2019_HomePrice    float64
2020_HomePrice    float64
dtype: object

In [8]:
df_rents

,RegionID,RegionName,SizeRank,MsaName,2014_RentPrice,2015_RentPrice,2016_RentPrice,2017_RentPrice,2018_RentPrice,2019_RentPrice,2020_RentPrice
0,61639,10025,1,"New York, NY",3041.83,3157.17,3190.58,3185.58,3183.58,3241.00,3146.67
1,84654,60657,2,"Chicago, IL",1589.42,1646.25,1701.67,1736.00,1748.42,1784.58,1791.56
2,61637,10023,3,"New York, NY",3186.67,3253.83,3284.08,3283.17,3295.08,3354.83,3268.00
3,91982,77494,4,"Houston, TX",1807.33,1817.33,1761.83,1748.67,1778.33,1795.08,1811.00
4,84616,60614,5,"Chicago, IL",1786.25,1849.83,1923.33,1952.58,1979.50,2026.42,2035.44
...,...,...,...,...,...,...,...,...,...,...,...
3238,58624,2110,9469,"Boston, MA",4250.33,4449.50,4743.50,4823.90,4643.58,4718.58,4408.57
3239,66128,20004,9592,"Washington, DC",2289.80,2334.82,2398.64,2456.42,2432.25,2454.67,2505.56
3240,399647,80951,9634,"Colorado Springs, CO",1254.36,1309.75,1383.83,1454.20,1537.18,1603.91,1647.88
3241,62311,11964,10014,"New York, NY",NaN,25982.00,22439.25,22566.71,20122.17,17439.00,15800.50
3242,84604,60602,10262,"Chicago, IL",2180.17,2197.43,2371.22,2303.00,2299.33,2240.00,2131.67

### Data Cleaning

In [9]:
#replace home price NaNs with first:
    #diff = (price of year you have) - (mean of a year you have) 
#then with NaN do 'diff' + (mean of NaN year)

In [10]:
df_fred.head()

,DATE,int_rate,med_hIncome,uspop_growth,unemplt_rate,newHouse_starts,resConstruct_spending
0,2011-01-01,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
1,2012-01-01,0.750000,56912.0,0.727269,8.075000,783.750000,278995.583333
2,2013-01-01,0.750000,58904.0,0.686773,7.358333,928.166667,335207.333333
3,2014-01-01,0.750000,58001.0,0.727518,6.158333,1000.250000,382868.333333
4,2015-01-01,0.770833,60987.0,0.730641,5.275000,1106.750000,438118.333333

In [11]:
#change year to match df_vacancy format
df_fred.DATE = df_fred.DATE.str.replace('-01-01','')

In [12]:
#change DATE column name to Year
df_fred = df_fred.rename(columns = {'DATE':'Year'})

In [22]:
#subset FRED data to 2011-2018 to prep for merge
df_fred_2011_2018 = df_fred.iloc[0:8]
df_fred_2011_2018 = df_fred_2011_2018.astype({'Year': 'int32'})

In [23]:
df_fred_2011_2018.dtypes

Year                       int32
int_rate                 float64
med_hIncome              float64
uspop_growth             float64
unemplt_rate             float64
newHouse_starts          float64
resConstruct_spending    float64
dtype: object

In [30]:
df_vacancy.dtypes

Zipcode              object
Vacancy_Rate%       float64
MOE-VacancyRate%    float64
Year                  int64
dtype: object

### Data Joining

In [ ]:
#need to merge rent prices and home prices when cleaned

In [29]:
#merge df_vacancy + FRED data 2011-2018
df_vacany_merged_fred = pd.merge(df_vacancy, df_fred_2011_2018, how='left', on='Year')
df_vacany_merged_fred

,Zipcode,Vacancy_Rate%,MOE-VacancyRate%,Year,int_rate,med_hIncome,uspop_growth,unemplt_rate,newHouse_starts,resConstruct_spending
0,02333,3.024027,2.199925,2011,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
1,02338,3.116343,2.948791,2011,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
2,02339,4.464646,2.066438,2011,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
3,02341,3.586322,2.340722,2011,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
4,02343,3.732901,2.926524,2011,0.750000,57021.0,0.720018,8.933333,611.916667,255208.583333
...,...,...,...,...,...,...,...,...,...,...
264955,98279,51.219512,10.993457,2018,2.458333,64324.0,0.522337,3.891667,1248.250000,564448.750000
264956,98280,51.329243,12.777549,2018,2.458333,64324.0,0.522337,3.891667,1248.250000,564448.750000
264957,98311,6.540162,1.960476,2018,2.458333,64324.0,0.522337,3.891667,1248.250000,564448.750000
264958,98326,28.537736,14.679524,2018,2.458333,64324.0,0.522337,3.891667,1248.250000,564448.750000
264959,98332,7.340077,2.726737,2018,2.458333,64324.0,0.522337,3.891667,1248.250000,564448.750000

In [17]:
#replace home price NaNs with first:
    #diff = (price of year you have) - (mean of a year you have) 
#then with NaN do 'diff' + (mean of NaN year)

### Save Data

### Notes

### Summary